<h1>Articles listing page:</h1>
<%= stylesheet_link_tag 'articles', media: 'all', 'data-turbolinks-track': 'reload' %>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.id  %></td>  
      <td><%= article.title  %></td>  
      <td><%= article.description  %></td>  
      <td> <%= link_to 'Show', article %></td>
      <td> <%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'Create new article', new_article_path, class: 'btn btn-primary mt-3', id: 'new-article-btn', method: :get %>